<!--platform/src/app/components/sections/objectives/objectives.html-->
<section id="objectives" class="relative bg-black py-16">
  <div class="w-full bg-black">
    <div class="container mx-auto px-4 flex flex-col md:flex-row items-center relative">
      <div class="relative w-full md:w-screen h-screen overflow-hidden" data-aos="zoom-in">
        <img [src]="'assets/images/a.png'" alt="Education Image" class="w-screen h-svh object-cover object-middle rounded-lg shadow-lg" loading="lazy">
        <div class="absolute bottom-0 left-0 p-6 md:p-9 text-white w-full md:w-2/5" data-aos="fade-in" data-aos-delay="500">
          <h2 class="text-left px-4 md:px-8 py-4 md:py-6">
            <span class="text-4xl md:text-7xl"> The </span>
            <span class="highlight text-4xl md:text-7xl"> learning </span>
            <span class="text-4xl md:text-7xl"> that </span>
            <span class="highlight text-4xl md:text-7xl">Elevates!</span>
          </h2>
        </div>
        <div class="absolute top-4 md:top-9 right-4 md:right-9 p-4 md:p-6 w-full md:w-1/3 text-white rounded shadow-lg bg-black bg-opacity-50" data-aos="fade" data-aos-delay="500">
          <h3 class="text-xl md:text-3xl font-bold mb-4 md:mb-6">Bold Promise</h3>
          <p class="mb-4 md:mb-6 text-base md:text-xl">
            Professionals/Students will never be scared while solving business problems with advanced technology.
          </p>
          <a href="#benefits" class="inline-block size-18 bg-blue-600 text-white py-2 px-4 rounded shadow hover:bg-blue-700 transition duration-300 text-base" data-aos="fade-in" data-aos-delay="600">
            Learn More
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
