/* #87ceeb, #4b0082, #9400d3 Use Tailwind CSS for general styling */

.benefits-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
    gap: 1rem;
}

.benefit-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: rgba(167, 139, 250, 0.5);
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
}

.benefit-item:hover {
    background-color: rgba(167, 139, 250, 0.8);
}

.text-gradient {
    background-image: linear-gradient(to right, #b3e5fc, #7986cb, #b39ddb);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: relative;
    z-index: 1;
}

.h {
    background-color: #fcd34d;
}