<!--platform/src/app/components/home/benefits/benefits.component.html-->

<section id="benefits" class="grid grid-cols-2 divide-x h-screen">
  <!-- Vision Section -->
  <div class="vision-container relative w-full h-full">
    <img [src]="'assets/images/4.jpg'" alt="Education Image" class="vision-image absolute inset-0 w-full h-full object-cover">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="vision-text absolute top-8 right-0 text-right rounded-lg" data-aos="fade-in">
      <h2 class="h text-6xl font-bold mb-6 text-white">OUR VISION</h2>
      <p class="p text-2xl text-white text-right max-w-[500px] whitespace-pre-line tracking-wider leading-relaxed text-white-600 font-extralight dark:text-white">
        To create a future where every professional feels confident and empowered to tackle business challenges with ease through mastery of advanced technology skills.
      </p>
    </div>
  </div>

  <!-- Mission Section -->
  <div class="bg-black text-white p-8 relative w-full h-full" data-aos="fade-in" data-aos-delay="200">
    <img [src]="'assets/images/9.png'" alt="Education Image" class="ms-auto size-80 p-8 rounded-full shadow-lg">
    <br><h2 class="text-5xl font-bold mb-6">Our Mission</h2>
    <div>
      <p class="text-lg text-left max-w-[500px] whitespace-pre-line tracking-wider leading-relaxed text-white-600 font-extralight dark:text-white font-serif">
        Our mission is to equip professionals with the knowledge, skills, and confidence they need to excel in their roles and drive business success. We strive to foster a culture of continuous learning, innovation, and fearlessness, empowering individuals to unleash their full potential and thrive in the rapidly evolving digital age.
      </p>
    </div>
  </div>
</section>
